.layoutContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--bg-color);
    position: relative;
}