.header {
    height: 80px;
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    position: relative;
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 2;
}

.menuIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    object-fit: contain;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-primary);
}

.centerSection {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.brandLogo {
    height: 38px;
    object-fit: contain;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 2;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.iconButton:hover {
    background-color: #f3f4f6;
    border-radius: 50%;
}

.actionIcon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    margin-left: 1rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.profileName {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-primary);
    text-transform: uppercase;
    line-height: 1.2;
}

.profileRole {
    font-size: 0.75rem;
    color: #00B4D8;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media (min-width: 1600px) {
    .rightSection {
        margin-right: 20px;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .header {
        height: 60px;
    }

    .menuIcon {
        width: 20px;
        height: 20px;
    }

    .actionIcon {
        width: 15px;
        height: 15px;
    }

    .avatar {
        width: 32px;
        height: 32px;
    }

    .profileInfo {
        display: none;
    }

    .leftSection {
        gap: 0.5rem;
    }

    .rightSection {
        gap: 0px;
    }

    .profileContainer {
        margin-left: 0.5rem;
    }
    .title{
        font-size: 1rem;
    }
    .brandLogo{
        height: 28px;
    }
}